/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  background-color: #333333;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

#main-container {
}

.red-jumbotron {
  background-color: rgb(242, 95, 92);
  color: white;
}

.jumbotron.red-jumbotron h3 {
  color: white;
}

#main-column {
  margin-top: 95px;
}

#right-column {
  margin-top: 95px;
}

#navbar > ul > li:nth-child(1) > button {
  margin-top: 14px;
}

body > footer > div > p {
  padding-top: 18px;
}

#main-column > h2 {
  color: white;
}

#about-container {
  margin-top: 95px;
}

#tempChart {
  width: 100px;

}

#main-column > div > ul > li.nav.active > a {
  
}